.account-block {
    cursor: pointer;
}

.sidebar-list .list-group-item {
    border-radius: 12px;
    margin-top: 4px;
}

.sidebar-list .list-group-item:is(:hover, .active) {
    background: var(--color--light);
}

.sidebar-list .list-group-item:is(:hover, .active) a :where(i, span) {
    color: var(--color--dark);
}

.sidebar-wrapper {
    transition: all .22s ease;
    overflow: hidden;
}

.sidebar-wrapper.hide {
    width: 0;
}

@media (max-width:768px) {
    .sidebar-wrapper {
        background: #fff;
        width: 0;
    }

    .sidebar-wrapper.hide {
        width: 100%;
    }
}