.sidebar-wrapper{
    transition: all .22s ease;
}
.account-block{
    cursor: pointer;
}

.sidebar-list .list-group-item{
    border-radius: 12px;
    margin-top: 4px;
}

.sidebar-list .list-group-item:is(:hover,.active){
    background: var(--color--light);   
}

.sidebar-list .list-group-item:is(:hover,.active) a :where(i,span){
    color: var(--color--dark);
}

.sidebar-wrapper.hide {
    width: 0;
    overflow: hidden;
}

/* FLOAT SIDEBAR ON SMALLER DEVICES */

@media (max-width:768px) {
    .sidebar-wrapper{
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 1050;
        background: #fff;
        height: 100%;
        box-shadow: 0 0 10px #eee;
        transition: all .2s ease;
    }
}