/* CSS SYSTEM VARIABLE */


:root {
    /* colors */
    --color--primary: #6662e2;
    /* A modern and vibrant blue */
    --color--secondary: #0077b6;
    /* A complementary lighter blue */
    --color--light: #f1f7fc;
    /* A very light blue for backgrounds */
    --color--dark: #201F1F;
    /* A deep, contrasting blue */
    --color--light--30: rgba(255,255,255,.3);
    /* Light blue with 30% opacity */
    --color--danger: #ee271d;
    /* Danger */


    /* fonts */
    --font--primary: "Open Sans", sans-serif;

    /* default component height */
    --header--height: 6.125em;
}